REDIS_PASSWORD=default

POSTGRES_DB=converter
POSTGRES_USER=user
POSTGRES_PASSWORD=password

JWT_SECRET_KEY=your-super-secret-jwt-key-min-32-chars-long
JWT_ACCESS_CSRF_COOKIE_NAME=csrf_access_token
JWT_REFRESH_CSRF_COOKIE_NAME=csrf_refresh_token
JWT_ACCESS_COOKIE_NAME=access_token
JWT_REFRESH_COOKIE_NAME=refresh_token
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=30

DATABASE_URL=postgresql://user:password@postgres:5432/converter
REDIS_URL=redis://default:default@redis:6379/0

CORS_ORIGINS=["*"]
SALT_ROUNDS=18

DOMAIN_NAME=converter.me